

.imputClima {
    margin: 1em 0.5em;
    border: none;
    border-radius: 0.4rem;
    height: 3em;
    width: 20%;
    border: none;
    border-radius: 0.4rem;
    padding: 10px 6px;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
  }
  
  .buttonClima{
    margin: 1em .05em;
    height: 3em;
    width: 4em;
    border: none;
    border-radius: 10%;
    background-color: #90E0EF;
}
  
  .containerClima{
    margin: auto;
    border: 3px rgb(240, 236, 236) solid;
    width: 450px;
    height: 450px;
}

  .container{
    margin: auto;
    border: 3px rgb(240, 236, 236) solid;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: none;
    border-radius: 0.4rem;
  }
  
  .imagenClima{
    width: 300px;
    border: 3px white solid;
    border-radius: 4px;
  }
  
