
footer{
    background-color: #0077B6;
    height: 6em;
    }
    
    footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    
    footer li{
    list-style: none;
    margin: 1em;
    }
    
    footer p{
    text-align: center;
    }
    