label {
   font-size: 1rem; 
   margin-bottom: 0.2rem;
   margin-top: 0.5rem;
}

input {
    width: 20rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none; 
}
.inputFormulario{
    padding: 0.5rem;
    box-sizing: border-box;
}
 
.inputFormulario::placeholder {
    padding: 0.5rem;
    box-sizing: border-box;
}

textarea {
    border-radius: 0.5rem; 
    padding: 0.5rem;
    box-sizing: border-box;
}
textarea::placeholder {
    padding: 0.5rem;
    padding-top: 0;
    box-sizing: border-box;
}

.enviar {
    width:10rem ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cambioColor:hover {
    box-shadow: 0px 0px 5px 1px black;
}

#contenedor {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
form{
    display: flex;
    justify-content: center;
   
}