/* Estilos generales del header */
.header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos del logo */
.App-logo {
  width: 80px;
  margin: 0 30px;
  }


/* Estilos de los elementos de navegación */
.nav-link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  margin-left: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 30px; /* Espaciado horizontal entre los items */
}

.navbar .nav-link:hover {
  color: #0d58e2;
}

.navbar .nav-link.active {
  color: #747474;
}
.navbar-nav {
  text-align: center; /* Alineación de texto centrada */
}



