.contenedorCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 80px 25%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 10rem;
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 0px 10px 10px -6px black;
  background-color: #ccc;
}

.card img {
  width: 6rem;
  height: auto;
  margin-bottom: 5px;
}

.card h2 {
  font-size: 1rem;
  text-align: center;
  font-style: oblique;
}